html, body, .gb_pa.gb_Va.gb_Re.gb_Hc, .tb9Ntf, .N7iPof.O5x1db.i4aPLb, .a-t-j .a-gd-j, .a-s-tb-pa, .a-s-tb-sc-Ja-Q.a-s-tb-sc-Ja-Q-pa.a-s-tb-Pe-Q, .a-t-D, .fi6cjf, .elgvke, .v2devc, .s55KNe .jGNTYb, .gb_ia, .gb_E, .gb_rb.gb_rb, .gb_vb.gb_vb, .gb_Cb.gb_Cb, .gb_Db.gb_Db, .gb_k .gb_ib, .oU68dc, .M842Cd, .lb-k.ca-k.Hb-ja-hc, .lb-k-x, .a-w-x, .RTMQvb.uHoRpf.h-sb-Ic.fCmhtc.hc0pBf, .Onyn4c, .a-ec-Gd .Kzazxf.x6jRSb, .a-S-dc, .aabwZd .Tguc8d, .a-ub-D, .l-Mg-wg-o .a-q-zb-j, .a-ub-Gd, .y-C-Ed-V, .y-C, .l-u-xb, .cloudsearch_suggestion_overlay, .R83xKc, .a-Va-Zb-j, .Yb-Il-d.Kk7lMc-QWPxkf-d.Yb-Il-d-rc, .Yb-Il-d-c-Nd, .Kk7lMc-Yb-Il-j {
  background-color: #121212;
}

.pMw0s, .pMw0s .g5SSAf .ta-gc-np-Nd, .DKdET, .gb_rb.gb_Sf.gbp1.gb_Pe.gb_3c:hover, .gb_vb.gb_Of:hover, .gb_Cb.gb_Tf.gb_2f.gb_Pe.gb_3c:hover, .gb_tb.gb_Hb:hover, .gb_tb.gb_Fb:hover, .a-c-d.h-R-d-pb, .Hb-ja-Na .a-c-d.h-R-d-Pb.h-R-d-pb:not(.h-R-d-db), .a-c-d:not(.h-R-d-db):active, .gb_ue.gb_se.gb_3c.Ewn2Sd.kNRrie, .FwR7Pc, .ca-k .lb-k-V, .ca-k-ra-B>.h-ra-B>.h-ra:hover, .h-v.h-v-pc, .vr5Aaf, .sUluqb, .XnpCh, .c4vRU, .o-Yc-o-T:hover, .Hb-ja-Na .o-Yc-o-T:focus:hover, .h-R-w-d-W, .XzbSje.w8ecmf.VLrnY, .y-C-ka:hover, .y-C-ka:active, .y-C-ka:focus, .gb_Te, .UHqLAb .vARBRb[aria-selected="true"], .UHqLAb .vARBRb:focus, .dc[aria-selected="true"], .dc:focus, .Yb-Il-d-c-j:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.L202Xe {
  background-color: inherit;
}

.s55KNe:not(.KBj6Qd) .GZwC2b .jGNTYb, .aabwZd:not(.KBj6Qd) .GZwC2b, .a-U-ye-ha>.a-U-J, .HWctdb.mGEPQb, .Ccie2c:focus .v2devc, .Ccie2c.Pb .v2devc, .XzbSje.AVUQbb.VLrnY, .xmmsZb:hover, .xmmsZb:focus, .aAhjgf .Rj2Mlf:focus:not(:disabled), .aAhjgf .Rj2Mlf:hover:not(:disabled), .uFAPIe.sj692e:active:not(:disabled), .uFAPIe.sj692e:focus:not(:disabled), .uFAPIe.sj692e:hover:not(:disabled), .gb_ia:hover, .gb_4a.gb_5a, .gb_jb.gb_Rf.gb_eb.gb_Wf:hover, .a-Qa-Rd-qd svg, .eJz5R:focus, .eJz5R.ha, .a-t-J-ha, .a-c-d.h-R-d-rc, .l-u-xb.l-u-o.l-u-ha, .l-u-xb.l-u-Ab.l-u-Xc-Wa-ka.l-oi-cc.l-u-ha {
  background-color: rgba(26,115,232,0.12);
}

.XzbSje.AVUQbb.VLrnY {
  border-color: rgba(26,115,232,0.12);
}

.fi6cjf, .elgvke, .uJtSke.sj692e:not(:disabled), .DKdET, .gb_ia, .gb_rb.gb_rb, .gb_Cb.gb_Cb, .gb_Db.gb_Db, .KFHuXd>.KKmVCb, .Onyn4c, .s55KNe .jGNTYb, .aabwZd .Tguc8d, .XzbSje.w8ecmf.VLrnY, .l-u-xb, .L202Xe, .g-Gh {
  border: 1px solid rgba(255, 255, 255, 0.08)
}

.U7gybc.UPG3Ne, .KL4NAf, .B3ItCf, .tC8lxf, .m0xaLc, .h-sb-Ic.h-R-w-d-ff, .gb_E, .gb_k .gb_lb, .gb_Ab, .gb_jb>svg.gb_kb, .gb_wb>svg.gb_xb, .gb_yb>svg.gb_zb, .gb_Cb.gb_Cb, .gb_Db.gb_Db, .dlWRTb, .QhgNnf, .lb-k-V-r, .ca-k-wb-j, .h-v-x, .a-fd-ba-lp, .a-fd-ba-Q-T, .a-Ng-c-ha svg, .a-s-T, .ObPBWd, .N1Qolf, .a-t-D-ip:focus, .a-t-D-ip:hover, .o-Yc-o-T, .aabwZd .WYuW0e .M3pype .YUNZ4c, .l-o-c-qd, .Q5txwe, .TvarF, .ab-S-V, .a-Mg-V-T, .a-Mg-YsLxq-V-T, .a-q-Jc-Lb, .y-C-sa-RvPyde, .y-C-H-Sb, .l-u-V, .gb_ef, .eAQ1W, .Emdydf, .se1Yye, .Ke58ze, .a-Lk .g-d-wd:not(.g-d-db), .a-Lk .g-d-wd:not(.g-d-db):focus, .a-Lk .g-d-wd:not(.g-d-db).g-d-Pb, .g-Gh {
  color: rgba(255, 255, 255, 0.87);
}

.ROyxlc,.uHZjfd, .gb_4a.gb_5a, .gb_k .gb_nb, .gb_rb.gb_rb, .gb_tb.gb_tb, .OmrUeb, .h-ra, .ca-k-wb-bd-r, .a-fd-ba-Q-ij, .a-fd-ba-Q-Qa-ga, .ub-ml-Pr .USrqEe-ml-Pr-gi .Ea0cbb-hTVF2c-r, .DGjo0e, #_Eq2Xzc_c106, .gqNuu, .a-t-D-cb, #_Eq2Xzc_c1, .le1PVb .AVUQbb.JGNgFd.VLrnY.eO2Zfd.xurAO>span:first-child, .a-t-J, .a-S-dc-Q-r, .I2rTXb, .rprYvc, .jApF8d, .HclN9d, .aabwZd .Tguc8d, .ab-S-Sg, .le1PVb.w8ecmf.JGNgFd.VLrnY.wg2eAc.eO2Zfd, .a-q-Lf-V, .a-q-Jc-V, .y-C-Ed-V, .y-C-q-D, .y-C-Ya, .y-C-fh-Bf-Jj, .y-C-fh-Bf-r, .y-C-q-j, .gb_ef::placeholder, .Vl9rfc, .Q62IOe, .a-Va-Zb-urCF6c-ga, .a-Va-Zb-Jk-ga, .a-Va-Zb-ga {
  color: rgba(255, 255, 255, 0.6);
}

.bQzjcb, .gb_Ib, .gb_Bb, .h-Yo, .a-S-dc, .cloudsearch_suggestion_query_section, .cloudsearch_suggestion_people_section, .cloudsearch_suggestion_footer_section, .cloudsearch_suggestion_filter_section, .RwLyCe, .a-Va-Zb-ut, .Kk7lMc-Yb-Il-vc {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.ak25Me, .gb_Bb, .a-s-Ba-Ak, .m0xaLc, .ca-k-wb-j, .a-fd-ba-lp, .a-fd-ba-Q, .ObPBWd, .a-t-D, .a-t-cb, .aabwZd .N7iPof, .aabwZd .WYuW0e, .a-U-xc>.a-da-fc-Ug::after, .a-U-xc>.a-da-ji::before, .a-U-xc>.a-da-Ul::before, .l-Mg-wg-o .a-q-zb-j, .a-ub-ra-B>.h-ra-B, .y-C-Ed-V, .y-C {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.a-l-S-Pc-w-d .a-w-d-aa-zd svg, .a-s-fa-Ha-pa, .gb_pa svg, .gb_Ac svg, .gb_Wc .gb_5d, .gb_Mc .gb_5d, .wO3c5d, .a-d-c>svg, .Yb-Il-d-c {
  fill: rgba(255, 255, 255, 0.87);
  color:rgba(255, 255, 255, 0.87);
}

.ca-k-ra-B>.h-ra-B>.h-ra-ha {
  color: #c53929;
}

.ca-k-oa , .a-ub-Gd, .Kk7lMc-Yb-Il-j{
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.eJz5R:focus .N1Qolf, .eJz5R.ha .N1Qolf, .a-t-J-ha .l-t-T-V>.l-Ab-T-r, .a-t-J-ha, .l-u-ha .l-u-V {
  color: rgb(26,115,232);
}

.a-ec-Gd .Kzazxf.x6jRSb, .cloudsearch_suggestion_overlay, .a-Va-Zb-j {
  box-shadow: 0 1px 2px 0 rgb(195 191 188 / 30%), 0 1px 3px 1px rgb(195 191 188 / 15%);
}

.l-t-T-V>.l-Ab-T-r {
  color:rgba(255, 255, 255, 0.72);
}

.aabwZd .Tguc8d {
  border-top: 1px solid transparent;
}

.a-d-vc {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.a-ub-sc-oa {
  background-color: #252525;
}

.R83xKc {
  border: 2px solid rgba(255, 255, 255, 0.08);
}

span.YG2p1e {
  background-image: url(https://www.gstatic.com/images/icons/material/system/1x/search_white_48dp.png);
}

.a-Va-Zb-vb:focus, .a-Va-Zb-vb:hover {
  border: 1px dashed transparent;
}

.g-Gh:focus {
  box-shadow: inset 0 1px 2px rgb(255 255 255 / 30%);
}
