html, body, .joJglb, .IzVHde, .JPdR6b, .gb_0a.gb_E.gb_k.gb_1a.gb_la,.gb_rb.gb_Sf.gbp1.gb_Pe.gb_3c, .gb_vb.gb_Of, .gb_ib.gb_eb, .gb_Cb.gb_Cb, .gb_Db.gb_Db, .I7OXgf, .ETRkCe, .ncFHed, .U26fgb.mUbCce.fKz7Od.qmMNRc.Aworge.M9Bg4d.y7OZL {
  background-color: #121212;
  color: rgba(255,255,255,0.87);
}

.joJglb, .gKkZCe, .MHxtic:not(:last-child) {
  border-bottom: 0.0625rem solid #252525;
}

.Aopndd, .ECOutf.Aopndd.najF6d, .zaxms.NyxV9b.Aopndd, .FLgDTb.pEwOBc.Aopndd, .qhnNic.LBlAUc.Aopndd.TIunU, .pOf0gc.QRiHXd.Aopndd.M4LFnf, .d4Fe0d, .zTrXGf, .zTrXGf>div.qk0lee.QRiHXd.VBEdtc-Wvd9Cc::after, .r0VQac.QRiHXd.Aopndd:hover   {
  background-color: rgba(255,255,255,0.08);
  border: 0.0625rem solid #202020;
}

.Aopndd:hover {
  border: none;
}

.oBSRLe, .dDKhVc {
  color: rgba(255,255,255,0.549);
}

.apFsO.onkcGd, .apFsO.onkcGd:visited, .asQXV, .A6dC2c, .z80M1.FeRvI, .gb_lb.gb_mb, .gb_Cb.gb_Cb, .IqJTee, .SNYuNc.ciEgyd, .WOPwXe, .poFWNe.zHQkBf, .CFcF2d.Evt7cb, .DPvwYc.sm8sCf, .LsqTRb.Lzdwhd-AyKMt.tgNIJf-Wvd9Cc.Yiql6e.iTy5c.editable, .EZrbnd.sxa9Pc, .K6Ovqd, div:hover>span>span>.DPvwYc.FAQj1d, .YVvGBb {
  color: rgba(255,255,255,0.87);
}

.onkcGd.nRLOzd:hover>span, .onkcGd.YVvGBb.IMvYId.P3W0Dd-Ysl7Fe.zFfAHb.rUnD6d>.YVvGBb, .onkcGd.YVvGBb.IMvYId.P3W0Dd-Ysl7Fe.zFfAHb.rUnD6d, .YVvGBb.xUYklb.VnOHwf-Tvm9db.XjYjO, span>.NPEfkd.RveJvd.snByac {
  color: inherit;
}

.SZ0kZe, .tUJKGd:not(:first-child), .d6CWTd, .WMQb5e .oBSRLe, .s2g3Xd, .PeGHgb.Q8U8uc .Ono85c+.oh9CFb, .PeGHgb.Q8U8uc .ruTJle+.fETHd, .OlXwxf.OlXwxf:hover, .OlXwxf:hover+.OlXwxf, .ycbm1d, .ZNE4y {
  border-top: 0.0625rem solid #202020;
}

.FwR7Pc, .gb_rb.gb_Sf.gbp1.gb_Pe.gb_3c:hover, .gb_vb.gb_vb:hover, .gb_jb.gb_Rf.gb_eb.gb_Wf, .gb_Cb.gb_Tf.gb_2f.gb_Pe.gb_3c:hover, .gb_tb.gb_Hb:hover, .gb_tb.gb_Fb:hover, .KKjvXb, .u2mfde.hN1OOc.EZrbnd.J1raN.S6Vdac:hover, .hgjBDc {
  background-color: rgba(255,255,255,0.08);
}

.gb_5a.gb_4a {
background: rgba(26,115,232,0.12);
color: rgba(255,255,255,0.6);
}

.gb_rb.gb_Sf.gbp1.gb_Pe.gb_3c, .gb_Cb.gb_Tf.gb_2f.gb_Pe.gb_3c {
  border: 1px solid #252525;
}

.oleV8d {
  border: 0.0625rem solid #202020;
}

.gb_nb, .gb_rb.gb_Sf.gbp1.gb_Pe.gb_3c, .gb_xb, .gb_pa svg, .gb_Ac svg, .gb_Wc .gb_5d, .gb_Mc .gb_5d, .NMm5M, .gb_tb.gb_Hb, .gb_tb.gb_Fb, .gb_Oa, .Hc4hZd.tLDEHd, .tLDEHd, .iLjzDc, .YVvGBb.rpo4wf, .nGZbac.dDKhVc.pCcXPe, .vT1Gyc.kGNarb.pCcXPe, .vRMGwf.oJeWuf, .u2mfde.hN1OOc.EZrbnd.J1raN.S6Vdac, .X65jac.rpo4wf, .ViCi4, .rpo4wf, .kRYv9b.YVvGBb, .bswVrf.Lzdwhd-BrZSOd, .nforOe, .Y5vSD, .DPvwYc.FAQj1d, div>span>span.NPEfkd.RveJvd.snByac, .VBEdtc-Wvd9Cc.zZN2Lb-Wvd9Cc {
  color: rgba(255,255,255,0.6);
}

.gb_Ib {
  border-top: 1px solid #252525;
}

.gb_Bb {
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
}

.IqJTee {
  left: 1px;
  top: -6.01px;
}


.uArJ5e.UQuaGc.AeAAkf.cY2sGe {
background: rgba(26,115,232,0.12);
border: 1px solid rgba(26,115,232,0.12);
}

.qTs5Xc.snByac, .cnOaDb.I9OJHe.vTcY1d, .vnnr5e .CIy9F {
  background-color: #252525;
}

.LlcfK.bFjUmb-Ysl7Fe, .Xi8cpb:hover>.LlcfK.bFjUmb-Ysl7Fe {
  background: rgba(26,115,232,0.12) !important;
}

.Xi8cpb:hover>.LlcfK {
  background: rgba(255,255,255,0.08);
}

.vT1Gyc.kGNarb.N4XV7d {
  color: rgba(255,255,255,0.3);
}

.Xp0OCe {
  border: 0.0625rem solid #202020;
}

.GblU6b.eumXzf.VnOHwf-Tvm9db.P3W0Dd-Ysl7Fe.UISY8d-Ysl7Fe {
  background-color: transparent !important;
}

.pOf0gc.QRiHXd.Aopndd.M4LFnf:hover {
  background-color: #303030;
}

span>a {
  color: rgb(26,115,232);
}

span>a:hover {
  color: rgba(26,115,232, 0.75);
}

span>a:active {
  color: #BD2C2C;
}

span>a:visited {
  color: #A94AE3;
}

html-blob>a {
  color: rgb(26,115,232);
}

html-blob>a:hover {
  color: rgba(26,115,232, 0.75);
}

html-blob>a:active {
  color: #BD2C2C;
}

html-blob>a:visited {
  color: #A94AE3;
}

div.zTrXGf:hover>div>div.K6Ovqd {
  color: inherit;
}

.uqpvt {
  background-color: #121212;
}

.DShyMc-MzgwMjkwODk0MzEz .UISY8d-Ysl7Fe:hover, .DShyMc-MzgwMjkwODk0MzEz.MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-MzgwMjkwODk0MzEz .MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.j6KDAd, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.idtp4e, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .j6KDAd, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .idtp4e, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D:hover.j6KDAd, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D:hover.idtp4e, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D:hover .j6KDAd, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D:hover .idtp4e, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ).boxOzd:focus-within, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ).idtp4e:focus-within, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ) .boxOzd:focus-within, .DShyMc-MzgwMjkwODk0MzEz .tUJKGd:not(.xp2dJ) .idtp4e:focus-within, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D.boxOzd:focus-within, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D.idtp4e:focus-within, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D .boxOzd:focus-within, .DShyMc-MzgwMjkwODk0MzEz .ZoT1D .idtp4e:focus-within, .DShyMc-MzgwMjkwODk0MzEz .P3W0Dd-Ysl7Fe:focus, .DShyMc-MzgwMjkwODk0MzEz.maXJsd:focus .P3W0Dd-Ysl7Fe, .DShyMc-MzgwMjkwODk0MzEz .maXJsd:focus .P3W0Dd-Ysl7Fe {
  background-color: rgba(0, 123,131, 0.15);
}

.d6CWTd:first-child, .ycbm1d:first-child {
  border-top: 0;
}

.DShyMc-MzgwMjkwODk0MzEz.VnOHwf-Tvm9db, .DShyMc-MzgwMjkwODk0MzEz .VnOHwf-Tvm9db, .DShyMc-MzgwMjkwODk0MzEz.CNpREd .VnOHwf-Tvm9db {
  color: #007b83;
}

/* AP Calc */

.DShyMc-Mzc5Njc2NjM2NzYx.VnOHwf-Tvm9db, .DShyMc-Mzc5Njc2NjM2NzYx .VnOHwf-Tvm9db, .DShyMc-Mzc5Njc2NjM2NzYx.CNpREd .VnOHwf-Tvm9db {
  color: #b80672;
}

.DShyMc-Mzc5Njc2NjM2NzYx .UISY8d-Ysl7Fe:hover, .DShyMc-Mzc5Njc2NjM2NzYx.MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-Mzc5Njc2NjM2NzYx .MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-Mzc5Njc2NjM2NzYx .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.j6KDAd, .DShyMc-Mzc5Njc2NjM2NzYx .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.idtp4e, .DShyMc-Mzc5Njc2NjM2NzYx .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .j6KDAd, .DShyMc-Mzc5Njc2NjM2NzYx .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .idtp4e, .DShyMc-Mzc5Njc2NjM2NzYx .ZoT1D:hover.j6KDAd, .DShyMc-Mzc5Njc2NjM2NzYx .ZoT1D:hover.idtp4e, .DShyMc-Mzc5Njc2NjM2NzYx .ZoT1D:hover .j6KDAd, .DShyMc-Mzc5Njc2NjM2NzYx .ZoT1D:hover .idtp4e  {
  background-color: rgba(184, 16, 114, 0.15);
}

/* Orchestra */

.DShyMc-Njk2NzEwMjMxNjRa.VnOHwf-Tvm9db, .DShyMc-Njk2NzEwMjMxNjRa .VnOHwf-Tvm9db, .DShyMc-Njk2NzEwMjMxNjRa.CNpREd .VnOHwf-Tvm9db {
  color: #c26401;
}

.DShyMc-Njk2NzEwMjMxNjRa .UISY8d-Ysl7Fe:hover, .DShyMc-Njk2NzEwMjMxNjRa.MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-Njk2NzEwMjMxNjRa .MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-Njk2NzEwMjMxNjRa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.j6KDAd, .DShyMc-Njk2NzEwMjMxNjRa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.idtp4e, .DShyMc-Njk2NzEwMjMxNjRa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .j6KDAd, .DShyMc-Njk2NzEwMjMxNjRa .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .idtp4e, .DShyMc-Njk2NzEwMjMxNjRa .ZoT1D:hover.j6KDAd, .DShyMc-Njk2NzEwMjMxNjRa .ZoT1D:hover.idtp4e, .DShyMc-Njk2NzEwMjMxNjRa .ZoT1D:hover .j6KDAd, .DShyMc-Njk2NzEwMjMxNjRa .ZoT1D:hover .idtp4e {
  background-color: rgba(194, 100, 1, 0.15);
}

/* Homeroom */

.DShyMc-NDE2MTE3Mjk1MTda.VnOHwf-Tvm9db, .DShyMc-NDE2MTE3Mjk1MTda .VnOHwf-Tvm9db, .DShyMc-NDE2MTE3Mjk1MTda.CNpREd .VnOHwf-Tvm9db {
  color: #1967d2;
  /* background-color: rgba(25, 103, 210, 0.15); */
}

/* Econ */

.DShyMc-MzczNTgwMzY0NDc5.VnOHwf-Tvm9db, .DShyMc-MzczNTgwMzY0NDc5 .VnOHwf-Tvm9db, .DShyMc-MzczNTgwMzY0NDc5.CNpREd .VnOHwf-Tvm9db {
  color: #202124;
}

.DShyMc-MzczNTgwMzY0NDc5 .UISY8d-Ysl7Fe:hover, .DShyMc-MzczNTgwMzY0NDc5.MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-MzczNTgwMzY0NDc5 .MymH0d:hover .UISY8d-Ysl7Fe, .DShyMc-MzczNTgwMzY0NDc5 .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.j6KDAd, .DShyMc-MzczNTgwMzY0NDc5 .tUJKGd:not(.xp2dJ):not(.rZXyy):hover.idtp4e, .DShyMc-MzczNTgwMzY0NDc5 .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .j6KDAd, .DShyMc-MzczNTgwMzY0NDc5 .tUJKGd:not(.xp2dJ):not(.rZXyy):hover .idtp4e, .DShyMc-MzczNTgwMzY0NDc5 .ZoT1D:hover.j6KDAd, .DShyMc-MzczNTgwMzY0NDc5 .ZoT1D:hover.idtp4e, .DShyMc-MzczNTgwMzY0NDc5 .ZoT1D:hover .j6KDAd, .DShyMc-MzczNTgwMzY0NDc5 .ZoT1D:hover .idtp4e {
  background-color: rgba(32, 33, 36, 0.15);
}
